<article>
	<h3 class="p-name"><a href="{{ post.url }}" title="Read the post ‘{{ post.title }}’">{{ post.title }}</a></h3>
	<p>{{ post.description }}</p>
	<br>
	<a class="read" href="{{ post.url }}"><strong>Read</strong> &rarr;</a>
</article>