<article>
	<h3 class="p-name"><a href="{{ post.url }}" title="Read the post ‘{{ post.title }}’">{{ post.title }}</a></h3>
	<p>{{ post.summary }}</p>
	<p><a href="{{ post.url }}"><strong>Read</strong> &rarr;</a></p>
</article>